body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    /* background-color: #fafafa; */
  }
  
  .App {
    text-align: center;
  }
  

  /* Total scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: transparent; /* or a light color like #f0f0f0 */
}

/* Thumb (the scroll handle) */
::-webkit-scrollbar-thumb {
  background-color: #d6b54e; /* your theme color */
  border-radius: 10px;
  border: 2px solid transparent; /* little gap */
  background-clip: content-box;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #5a54e8;
}
